
<div class="container" >
   
  <div class="blockContainer">
  <img class="profileImage" src="assets/img/dog.jpg"> 

  <h2>{{username1}} </h2> <a href="/">@{{username1}}</a>
  <p>Tweets: {{totalTweets}}</p>
  <form>
      <!-- <input type="file" (change)="onFileChanged($event)"> -->

      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
      <button (click)="fileInput.click()">Select File</button>
      <button (click)="onUpload()">Upload!</button>

    <!-- <input type="file" [(ngModel)]="imageFile" name="imageFile" ><br> -->
    <!-- <input type="file" (change)="onFileChanged($event)">
    <button (click)="onUpload()">Upload!</button> -->
    <!-- <input value="submit" type="submit"> -->
  </form>


  <img src="{{imageFile}}" height="200" alt="Image preview...">

  </div>
</div>

