
.blockContainer{
    height:700px; 
    width:400px; 
    position:relative;
    top:30px; 
    padding:40px; 
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black; 
}
.profileImage{
    width:100px; 
    height: 100px; 
    border-radius:100%   
}
h2{
    color:#00D0C2 ; 
}

