body{
    font-family: 'Jaldi', sans-serif;
  }
h1{
    font-family: 'Reenie Beanie', cursive;
    
}
.logo{
    right: 90px; 
    height: 60px; 
    margin: 6px; 
    right: 4px
}
.main-container-1{
    display:inline-block;
    vertical-align: top;
    color:white;
    width:50%;
    height:100vh;
    background-color:#00D0C2 ;
}
.main-container-1-text{
    margin-top:20vh;
    text-align:center;
}
.main-container-1-text ul li{
    list-style: none;
}
.main-container-2{
    text-align:center;
    display:inline-block;
    vertical-align: top;
    /* border:1px solid black; */
    width:50%;
    height:100vh;
}
.register-form-container, .login-form-container{
    background-color:black;
    /* vertical-align: top; */ 
    border-bottom:1px solid;
}
#login-container{
    top:20px;
    display: inline-block;
    position: relative; 
    height:75px; 
   

}
.form-group{
    position: relative; 
    display: inline-block;
   
}

.register-container{
    margin:50px; 
}
.hide{
    opacity:0;
}
#btn,.btn{
    background-color:white; 
    color: black; 
    /* border-color: #AED6F1;  */
    border:2px solid #00D0C2 ;
}
.image{
    max-width: 300px; 
    max-height: 200px;
}

.register-form-container{
    margin-top:25vh;
    margin-bottom:25vh;
    background: url('https://images.unsplash.com/photo-1445499348736-29b6cdfc03b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60') ;
    background-size: cover;
    padding: 0;
    margin: 0;
}
 body{
    font-family: 'Jaldi', sans-serif;
  }
/* .wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
} */

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}


#registerbtn{
    width: 250px;
}
form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}



form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

