<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Copycat Msg</title>
</head>
<body>
    <div class="left_side">
        
        
        <div class="container" >
            <div class="blockContainer">
            <img class="profileImage" src="assets/img/batman1.jpg"> 
          
            <h2>{{username1}} </h2> <a href="/">@{{username1}}</a>
            <p>Tweets: {{totalTweets}}</p>
            </div>
        </div>

        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <tbody>
                    <tr>
                        <div class="post-container" *ngFor="let post of allPostsReversed">
                            <p>
                                <b>{{post['username']}}</b> @{{post['username']}} - <span>{{post['age']}}</span>

                            </p>
                            <p>
                                <span *ngFor="let word of post['content']">
                            
                                <span *ngIf="word[0] == '#'">
                                    <a href="/" onclick="return false;" (click)="hashtagRedirect([word])">{{word}} </a> 
                                </span>
                                <span *ngIf="word[0] != '#'">
                                    <span>{{word}} </span>
                                </span>

                                </span>
                            </p>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="right_side">
        <!-- <form>
            <mat-form-field>
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="goUser(option)">
                    {{option}}
                </mat-option>
                </mat-autocomplete>
                
            </mat-form-field>
        </form> -->
    </div>
</body>
</html>

