<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jaldi|Reenie+Beanie&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div class="leftbox">
            <img class="logo" src="assets/img/copycatLogo1.png">  
        </div>
        <div class="centerbox">
            <h2>Welcome to Copycat</h2>
        </div>
        <div class="rightbox">
            <div class="rightbox2">
                <div class="search"  >
                    <input type="text" class="searchTerm" placeholder="Search">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="rightbox1"><button id="logoutbutton" class="btn" (click)="logoutUser()" style="float:right">Logout</button></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">    
                    <h3>Create a post</h3>
                    <form (submit)="createPost()">
                        <textarea class="form-control counted" [(ngModel)]="newPost.content"  name="newPost.content" placeholder="Type in your message" rows="5" style="margin-bottom:10px;"></textarea>
                        <button class="btn btn-info" type="submit">Post New Message</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>Dashboard</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <div class="post-container" *ngFor="let post of allPostsReversed">
                                <p>
                                    <b>{{post['username']}}</b> @{{post['username']}} - <span>{{post['age']}}</span>
                                </p>
                                <p>
                                    content: {{post['content']}}
                                </p>
                                <p>
                                    tags: {{post['tags']}}
                                </p>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</body>
</html>

                   
                    