body{
    font-family: 'Jaldi', sans-serif;
    margin: 0px auto; 
}
.middle-column{
    position:absolute;
    margin: 0px auto;  

}
.row{
    /* background: -webkit-linear-gradient(330deg,#f0a6ca, #000);
    background: linear-gradient(#f0a6ca, #000); */
    background: -webkit-linear-gradient(330deg, #000, #f0a6ca);
    background: linear-gradient(120deg, #000, #f0a6ca);
    margin: 0px auto; 
    min-height: 1000px; 

}

#navBar{
    color: white; 
    font-size:24px;
    border:none;
    position: relative; 
    display:inline-block;
    font-family: 'Jaldi', sans-serif;


}
.navbar1{
    margin:20px; 
    position: relative; 
    display:inline-block;
 
}
.col-sm{
    overflow: scroll;
}

.space{
  display:inline;
  vertical-align:top;
}
.post-container{
    border:1px solid black;
    list-style: none;
    margin: 7px;
    padding:7px; 
    border:none; 
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}
.header{
    height: 70px; 
    width: 100%; 
    background-color:#F8F9F9;
    position: relative; 
    display: inline-block;
}
h3{
    color: white;
}
h2{
    font-family: 'Reenie Beanie', cursive;
}
.logo{
    right: 90px; 
    height: 60px; 
    margin: 6px; 
    right: 4px
}

.leftbox{
    position: relative;
      display: inline-block; 
}
/* .rightbox{
      position: relative;
      display: inline-block; 
      vertical-align:center; 
      float:right; 
      margin:20px; 
      
}
.rightbox1{
    position: relative;
    display: inline-block; 
    vertical-align:top; 
}
.rightbox2{
    position: relative;
    display: inline-block; 
    vertical-align:top;  */
}
.centerbox{
    text-align:center;
    position: relative;
    display: inline-block; 
}

/* #logoutbutton{
    margin:0px 40px; 
    background-color:white;
    border-color: ; 
} */
.search {
    width: 150px;
    float:right; 
    position: relative;
    display: flex;
    bottom: 2px; 
    margin:0px 30px; 
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;

}
.searchTerm{
    /* blue- #00B4CC */
    width: 250px;
    border: 3px solid gray;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.searchTerm:focus{
    color: black;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    background: gray;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
/* .wrap{
/* width: 30%; */
/* position: relative;
vertical-align:middle; 
float: right;  */
/* top: 50%;
/* left: 50%; */
/* transform: translate(-50%, -50%); */

span{
    color: gray;
}
.fa-home{
    color:#B0E0E6; 
    font-size:40px;  
}
.fa-user-circle{
    color:#B0E0E6; 
    font-size:40px; 
}