body{
    font-family: 'Jaldi', sans-serif;
    margin: 0px auto; 
}
.middle-column{
    position: relative;
    margin: 0px auto; 
}

.disable-links {
  pointer-events: none;
}

.row{
    background: -webkit-linear-gradient(330deg, #000, #f0a6ca);
    background: linear-gradient(120deg, #000, #f0a6ca);
    margin: 0px auto; 
}

.table{
    background-color:#B0E0E6; 
}
.post-container{
    background-color:white;
}
.space{
  display:inline;
  vertical-align:top;
}
.post-container{
    border:1px solid black;
    list-style: none;
    margin: 7px;
    padding:7px; 
    border:none; 
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}
tr{
    margin: 3px;
}


h3{
    color: gray;
}
h2{
    font-family: 'Reenie Beanie', cursive;
    
}
.card{
    margin:80px 0px;
}

.middle{
     height:100vh; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px 19px;
    position: relative;  
    top:30px;
}

#btn{
    color:white; 
    background-color:#00D0C2;
    border-radius:5px; 
    float:right;
    margin: 0 px 0px 5px 5px; 
}

span{
    color: gray;
}

